.card {
    display: grid;
    gap: .1rem;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    padding: 2em 1em;
    margin-bottom: 2em;
    border-radius: 1em; /** arredonda ponta dos cards */
    border: 2px solid #b8403a; /** adiciona borda nos cards com esta cor */ 
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.8); /** efeito de card levitando, muito usado em qq sistema */
    background-color: #333333;
    color: #fff;
}

/** tive que adicionar outra div ao redor do número do pokemon para que esta pudesse centralizar
 e não apenas isso, ele não poderia ficar igual os outros elementos, ela teria q ficar bem menor
 e no meio, e isso não estava sendo corrigido apenas com width
 
 Então o que deixou o card do numero menorzinho e centralizado foi o ato de criar uma nova div
 ao redor do elemento e configurar as propriedades da class abaixo: .container_id 
 
 Olhe o meu Codepen e verão este exemplo entre outros: https://codepen.io/wilhamsjw/pen/wvJjLeM?editors=1100*/
                             /**********
                             * ENGLISH *
                             ***********/
 /** I had to add another div around the Pokemon number so that it could be centered. Not only that, 
 but it couldn't be the same size as the other elements; it had to be much smaller and positioned in the middle.
 This couldn't be achieved by just adjusting the width.

Therefore, what made the number on the card smaller and centered was creating a new div around the element and 
configuring the properties of the class below: .container_id.

Check out my Codepen and you will see this example among others: https://codepen.io/wilhamsjw/pen/wvJjLeM?editors=1100. */
.container_id {
    display: grid;
    place-items: center;
}

.card .id {
    margin: 1em 0;
    background-color: #e33d33;
    border-radius: 5px;
    padding: 5px;
    color: #fff;
}

.card .title {
    display: grid;
    place-items: center;
    text-transform: capitalize; /** deixa primeira letra do texto maiúscula */
    margin-bottom: 1em;
    font-size: 1.43m;
}

.card .btn {
    display: grid;
    place-items: center;
    text-decoration: none;
    background-color: #fff;
    color: #222;
    padding: .7em 1.2em;
    border-radius: 5px;
    font-weight: bold;
    transition: .4s;
}

.card .btn:hover {
    background-color: #e33d33;
    color: #fff
}