.title_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
}

.title {
    color: #e33d33;
    text-align: center;
    font-size: 3em;
    margin-right: .4em;
}

.title span {
    color: #333;
}

.pokemon_container {
    display: flex; /** cada item fica um do lado do outro */
    flex-wrap: wrap; /** quebra linha quando chegar na largura máxima */
    justify-content: space-between; /** cada uma fica espaçado igualmente um do outro */
    align-items: center; /** alinha no centro na vertical */
    max-width: 900px; /**largur máxima */
    margin: 0 auto; /** centraliza no meio */
}