.about {
    text-align: center;
}

.about h1 {
    font-size: 2em;
    margin-bottom: 1em;
}

/** max-width -> determina largura do texto para não ocupar página toda
* margin: 0 auto -> centraliza o texto e o 2.8em dá uma distânçia ao redor dos elementos
*/
.about p {
    max-width: 40em;
    margin: 0 auto 2em;
    line-height: 1.7em;
}